{% extends "base.html" %}
{% block title %}Gaming{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}

<!--
  Cuerpo de la web
-->
  
<!--
  linea que deja espacio entre menu superior y acordeon izquierdo
-->  
<header class="navbar navbar-primary sticky-top bg-primary flex-md-nowrap p-0">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">.</a>

</header>

<div class="container-fluid">
  <div class="row">
    <!--
      apertura navegador izquierdo
    -->
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <header class="navbar navbar-light sticky-top bg-light flex-md-nowrap p-0">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3">Lista componentes</a>

      </header>

      <div class="position-sticky pt-3">
        <ul class="nav flex-column list-group">

          <!--
            apertura boton izquierdo
          -->
          <div class="list-group-item">
            <li>
              <a class="btn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Marca
              </a>
            </li>
            <div class="collapse" id="collapseExample">
              <ul>
                <li>
                  <a href="/">
                  Amd
                  </a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="/">
                  Intel
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="list-group-item">
            <li>
              <a class="btn" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                Nucleos
              </a>
            </li>
            <div class="collapse" id="collapseExample2">
              <ul>
                <li>
                  <a href="/">
                  2 nucleos
                  </a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="/">
                  4 nucleos
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="list-group-item">
            <li>
              <a class="btn" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
                Gama
              </a>
            </li>
            <div class="collapse" id="collapseExample3">
              <ul>
                <li>
                  <a href="/">
                  i5
                  </a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="/">
                  i3
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </ul>
      </div>
    </nav>
<!--
  Cierre navegador izquierdo
--> 
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>

      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

    </main>
  </div>
</div>







{% endblock %}